.mySwipper {
  position: relative;
  display: flex;
}
.mySwipper .swiper-button {
  position: absolute;
  top: 50%;
  z-index: 100;
  cursor: pointer;
}
.swiper-button svg {
  width: 1.5rem;
  height: 1.5rem;
}
.image-swiper-button-prev {
  left: 25px;
}
.image-swiper-button-next {
  right: 25px;
}
.swiper-button-disabled {
  opacity: 0;
}
